[Desktop Entry]
Encoding=UTF-8
Name=Link to http://howbigismypotato.com/potato.jpg
Type=Link
URL=http://howbigismypotato.com/potato.jpg
Icon=image-jpeg
